@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #000;
  overflow-x: hidden;
  letter-spacing: -0.05em; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.scroll-section {
  padding-top: 50vh; }
  .scroll-section .main-message {
    text-align: center;
    height: 3em;
    font-size: 1.5rem;
    margin: 5px 0; }
    .scroll-section .main-message p {
      line-height: 1.2; }
    .scroll-section .main-message small {
      display: block;
      margin-bottom: .5em;
      font-size: 1.2rem;
      text-transform: uppercase; }

#scroll-section-0 h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center; }

.ceo-message {
  max-width: 1000px;
  margin: 0 auto; }
  .ceo-message strong {
    font-size: 2.5rem;
    color: #000;
    float: left;
    margin-right: .2em; }

#scroll-section-2 .main-message {
  font-size: 3.5rem; }

.desc-message {
  width: 50%; }

.line {
  width: 1px;
  height: 80px;
  background-color: #000; }

.rnd-description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 0 1rem; }

.image-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem; }

#footer {
  text-align: center;
  height: 10rem; }

@media screen and (max-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw; }
  #scroll-section-0 .main-message {
    font-size: 4vw; }
  .ceo-message {
    font-size: 1rem; }
    .ceo-message strong {
      font-size: 4rem; }
  #scroll-section-2 .main-message {
    font-size: 6vw; }
    #scroll-section-2 .main-message small {
      font-size: 1.5vw; }
  #scroll-section-2 .desc-message {
    width: 20%; }
  #scroll-section-3 .rnd-description {
    font-size: 4vw; }
  #scroll-section-3 .image-caption {
    font-size: 2rem; } }
