@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: #000;
    overflow-x: hidden;
    letter-spacing: -0.05em;
    height: 500vh;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

// Scroll Section (Mobile)



.scroll-section {
    padding-top: 50vh;

    .main-message {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 35vh;
        height: 3em;
        font-size: 2.5rem;
        margin: 5px 0;
        height: 3em;
        opacity: 0;

        p {
            line-height: 1.2;
        }

        small { 
            display: block;
            margin-bottom: .5em;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }

    .sticky-element {
        display: none;
        position: fixed;
        left: 0;
        width: 100%;

        .desc-message {
            width: 45%;
            font-weight: bold;
            opacity: 0;
        }
    }

    .sticky-element-canvas {
        top: 0;
        height: 100%;

        canvas {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    .image-blend-canvas {
        border: 3px solid red;
    }
}

#scroll-section-0 {
    h1 {
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: -10vh;
        z-index: 5;
    }
}

.ceo-message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;

    strong {
        font-size: 2.5rem;
        color: rgb(29, 29, 31);
        float: left;
        margin-right: .2em;
    }
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35vh;
    margin: 5px 0;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;

    p {
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }

    small {
        display: block;
        margin-bottom: 0.5em;
        font-size: 1.2rem;
    }
}

#scroll-section-2 {
    .main-mssage {
        font-size: 3.5rem;
    }

    .second {
        top: 10%;
        left: 40%;
    }

    .third {
        top: 10%;
        left: 40%;
    }
}

.desc-message {
    width: 50%;
    opacity: 0;
}

.line {
    width: 1px;
    height: 80px;
    background-color: rgb(29, 29, 31);
}

.rnd-description {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 2rem;
    padding: 0 1rem;
    color: #888;
    
    strong {
        color: rgb(29, 29, 31);
    }
}

.image-caption {
    max-width: 1000px;
    margin: -24rem auto 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
}

#scroll-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer {
    text-align: center;
    height: 10rem;
}

#show-scene-0 {
    #scroll-section-0 {
        .sticky-element {
            display: block;
            will-change: transform, opacity;
        }
    }
}

#show-scene-1 {
    #scroll-section-1 {
        .sticky-element {
            display: block;
            will-change: transform, opacity;
        }
    }
}

#show-scene-2 {
    #scroll-section-2 {
        .sticky-element {
            display: block;
            will-change: transform, opacity;
        }
    }
}

#show-scene-3 {
    #scroll-section-3 {
        .sticky-element {
            display: block;
        }
    }
}

// Media Query (Desktop)

@media screen and (max-width: 1024px) {
    #scroll-section-0 {
        h1 {
            font-size: 9vw;
        }

        .main-message {
            font-size: 4vw;
        }
    }

    .ceo-message {
        font-size: 1rem; 

        strong {
            font-size: 4rem;
        }
    }

    #scroll-section-2 {
        .main-message {
            font-size: 6vw;

            small {
                font-size: 1.5vw;
            }
        }

        .desc-message {
            width: 20%;
        }
    }

    #scroll-section-3 {
        .rnd-description {
            font-size: 4vw; 
        }

        .image-caption {
            font-size: 2rem;
        }
    }
}